@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');
@font-face {
    font-family: 'love';
    src: url("fontes/LOVEPARADISE.otf")format("opentype");
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
}
header{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 30px;
}
header p{
    font-size:20px;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
header .creditos{
    padding: 10px;
}
h1{
    font-size: 60px;
    padding: 25px;
    font-family: 'love';
}
.menu{

}
.creditos:hover{
    text-decoration: underline;
}
.menu{
    background-color: black;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    margin-bottom: 50px;
    padding-left: 30px;

}
main{
    background-color: white;
    font-family: 'Arima Madurai', cursive;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6em;
    padding-left: 40px;

}
.sec1{
    margin: 45px;
    padding: 80px;
}
.sec2{
    margin: 45px;
    background-image: url("imagem/Coracao.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 45px;
    padding: 50px;
    background-attachment: fixed;
}
.sec3{
    padding: 80px;
    margin: 45px;
}
.sec4{
    margin: 45px;
    background-image: url("imagem/Coracao.jpg");
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 45px;
    padding: 80px;
}








footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
}
footer .creditos{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
